@{
    ViewBag.Title = "Home Page";
}
<div class="HomePage">
    <div class="jumbotron welcomeDiv">
        <h1 class="text-center welcomeHome" style="font-size: 650%">Welcome To ShareIT</h1>
        <p class="lead text-center welcomeHome" style="font-size: 250%">Sharing is Caring</p>
      @*  <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>

    <div class="row">
        <!--<div class="col-md-4">
            <h2></h2>
            <p>
            </p>-->
            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        <!--</div>
        <div class="col-md-4">
            <h2</h2>
            <p></p>-->
            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
        <!--</div>
        <div class="col-md-4">
            <h2></h2>
            <p></p>-->
            @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
        <!--</div>-->
    </div>
</div>