@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "FriendRequests";
}

<h2>FriendRequests</h2>
<div class="panel panel-default">
    <div class="panel-heading"> Lista cereri primite </div>
    @for (int i = 0; i < ViewBag.Length; i++)
    {
        var user = ViewBag.FriendRequests[i];
        <div class="panel-body">
            <strong>@user.UserName</strong>
            <a class="btn btn-success pull-right" href="/Profiles/AddFriend/@ViewBag.profileId/@i"> Adauga prieten </a>
            <br /> <hr />
        </div>
    }
</div>