@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Friends";
}

<h2> Friends</h2>
<div class="panel panel-default">
    <div class="panel-heading"> Lista de prieteni </div>
    @for (int i = 0; i < ViewBag.Length; i++)
    {
        var user = ViewBag.friends[i];
        <div class="panel-body">
            <strong>@user.UserName</strong>
            @if(ViewBag.currentUser == ViewBag.UserId){
                <a class="btn btn-danger pull-right" href="/Profiles/DeleteFriend/@ViewBag.profileId/@i"> Sterge prieten </a>
            }
            <br /> <hr />
        </div>
    }
</div>