@model ShareIT.Models.Profile
@{
    ViewBag.Title = "JoinedGroups";
}

<h2>Grupuri</h2>
<br />
<a class="btn btn-link" href="/Profiles/Show/@Model.ProfileId">Inapoi la profil</a>
<br /> <br />
<div class="panel panel-default">
    <div class="panel-heading"> Lista grupuri </div>

    @foreach (var group in ViewBag.joinedGroups)
    {
        <div class="panel-body">
            <strong>@group.GroupName</strong>
            <a class="btn btn-success pull-right" href="/Groups/Show/@group.GroupId"> Afisare grup</a>
            <br /> <hr />
        </div>
    }
</div>
